<a href="https://colab.research.google.com/github/AlirezaAhadipour/Practice/blob/main/OPP2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
class Employee:
  pass

emp_1 = Employee()
emp_2 = Employee()

print(emp_1)
print(emp_2)

<__main__.Employee object at 0x7c3fd46e0350>
<__main__.Employee object at 0x7c3fd46e0310>

In [ ]:
emp_1.first = 'Corey'
emp_1.last = 'Schafer'
emp_1.email = 'Cory.Schafer@company.com'
emp_1.pay = 50000

emp_2.first = 'Test'
emp_2.last = 'User'
emp_2.email = 'Test.User@company.com'
emp_2.pay = 55000

print(emp_1.email)
print(emp_2.email)

Cory.Schafer@company.com
Test.User@company.com

In [ ]:
class Employee:
  def __init__(self, first, last, pay):
    self.first = first
    self.last = last
    self.pay = pay
    self.email = self.first + '.' + self.last + '@company.com'

emp_1 = Employee('Cory', 'Schafer', 50000)
emp_2 = Employee('Test', 'User', 55000)

print(emp_1.email)
print(emp_2.email)

Cory.Schafer@company.com
Test.User@company.com

In [ ]:
full_name = f"{emp_1.first} {emp_1.last}"
print(full_name)

Cory Schafer

In [ ]:
class Employee:
  def __init__(self, first, last, pay):
    self.first = first
    self.last = last
    self.pay = pay
    self.email = self.first + '.' + self.last + '@company.com'

  def fullname(self):
    return f"{self.first} {self.last}"

emp_1 = Employee('Cory', 'Schafer', 50000)
emp_2 = Employee('Test', 'User', 55000)

print(emp_1.fullname())
print(emp_2.fullname())

Cory Schafer
Test User

In [ ]:
print(emp_1.fullname())
print(Employee.fullname(emp_1))

Cory Schafer
Cory Schafer

class variables

In [ ]:
class Employee:
  def __init__(self, first, last, pay):
    self.first = first
    self.last = last
    self.pay = pay
    self.email = self.first + '.' + self.last + '@company.com'

  def fullname(self):
    return f"{self.first} {self.last}"

  def apply_raise(self):
    self.pay = int(self.pay * 1.04)

emp_1 = Employee('Cory', 'Schafer', 50000)
emp_2 = Employee('Test', 'User', 55000)

print(emp_1.pay)
emp_1.apply_raise()
print(emp_1.pay)

50000
52000

In [ ]:
class Employee:

  raise_amount = 1.04

  def __init__(self, first, last, pay):
    self.first = first
    self.last = last
    self.pay = pay
    self.email = self.first + '.' + self.last + '@company.com'

  def fullname(self):
    return f"{self.first} {self.last}"

  def apply_raise(self):
    self.pay = int(self.pay * Employee.raise_amount)   #self.raise_amount works too!


emp_1 = Employee('Cory', 'Schafer', 50000)
emp_2 = Employee('Test', 'User', 55000)

print(emp_1.pay)
emp_1.apply_raise()
print(emp_1.pay)

50000
52000

In [ ]:
print(Employee.raise_amount)
print(emp_1.raise_amount)
print(emp_2.raise_amount)

1.04
1.04
1.04

In [ ]:
emp_1.raise_amount = 1.05

print(Employee.raise_amount)
print(emp_1.raise_amount)
print(emp_2.raise_amount)

1.04
1.05
1.04

In [ ]:
Employee.raise_amount = 1.05

print(Employee.raise_amount)
print(emp_1.raise_amount)
print(emp_2.raise_amount)

1.05
1.05
1.05

In [ ]:
class Employee:

  num_employees = 0
  raise_amount = 1.04

  def __init__(self, first, last, pay):
    self.first = first
    self.last = last
    self.pay = pay
    self.email = self.first + '.' + self.last + '@company.com'

    Employee.num_employees += 1

  def fullname(self):
    return f"{self.first} {self.last}"

  def apply_raise(self):
    self.pay = int(self.pay * Employee.raise_amount)   #self.raise_amount works too!

print(Employee.num_employees)

emp_1 = Employee('Cory', 'Schafer', 50000)
emp_2 = Employee('Test', 'User', 55000)

print(Employee.num_employees)

0
2

class methods

In [ ]:
class Employee:

  num_employees = 0
  raise_amount = 1.04

  def __init__(self, first, last, pay):
    self.first = first
    self.last = last
    self.pay = pay
    self.email = self.first + '.' + self.last + '@company.com'

    Employee.num_employees += 1

  def fullname(self):
    return f"{self.first} {self.last}"

  def apply_raise(self):
    self.pay = int(self.pay * Employee.raise_amount)

  @classmethod
  def set_raise_amount(cls, amount):
    cls.raise_amount = amount



emp_1 = Employee('Cory', 'Schafer', 50000)
emp_2 = Employee('Test', 'User', 55000)

print(Employee.raise_amount)
print(emp_1.raise_amount)
print(emp_2.raise_amount)

1.04
1.04
1.04

In [ ]:
Employee.set_raise_amount(1.05)

print(Employee.raise_amount)
print(emp_1.raise_amount)
print(emp_2.raise_amount)

1.05
1.05
1.05

In [ ]:
emp_1.set_raise_amount(1.03)

print(Employee.raise_amount)
print(emp_1.raise_amount)
print(emp_2.raise_amount)

1.03
1.03
1.03

In [ ]:
emp_1_str = 'John-Doe-70000'
emp_2_str = 'Jane_Doe_90000'

first, last, pay = emp_1_str.split('-')
new_emp_1 = Employee(first, last, pay)

print(new_emp_1.email)
print(new_emp_1.pay)

John.Doe@company.com
70000

In [ ]:
class Employee:

  num_employees = 0
  raise_amount = 1.04

  def __init__(self, first, last, pay):
    self.first = first
    self.last = last
    self.pay = pay
    self.email = self.first + '.' + self.last + '@company.com'

    Employee.num_employees += 1

  def fullname(self):
    return f"{self.first} {self.last}"

  def apply_raise(self):
    self.pay = int(self.pay * Employee.raise_amount)

  @classmethod
  def set_raise_amount(cls, amount):
    cls.raise_amount = amount

  @classmethod
  def from_str(cls, emp_str):
    first, last, pay = emp_str.split('-')
    pay = int(pay)
    return cls(first, last, pay)



emp_1_str = 'John-Doe-70000'
emp_2_str = 'Jane_Doe_90000'

new_emp_1 = Employee.from_str(emp_1_str)

print(new_emp_1.email)
print(new_emp_1.pay)

John.Doe@company.com
70000

In [ ]:
new_emp_1.apply_raise()
print(new_emp_1.pay)

72800

static methods

In [ ]:
class Employee:

  num_employees = 0
  raise_amount = 1.04

  def __init__(self, first, last, pay):
    self.first = first
    self.last = last
    self.pay = pay
    self.email = self.first + '.' + self.last + '@company.com'

    Employee.num_employees += 1

  def fullname(self):
    return f"{self.first} {self.last}"

  def apply_raise(self):
    self.pay = int(self.pay * Employee.raise_amount)

  @classmethod
  def set_raise_amount(cls, amount):
    cls.raise_amount = amount

  @classmethod
  def from_str(cls, emp_str):
    first, last, pay = emp_str.split('-')
    pay = int(pay)
    return cls(first, last, pay)

  @staticmethod
  def is_workday(day):   # Monday: 0, ..., Saturday: 6
    if day.weekday() == 5 or day.weekday() == 6:
      return False
    return True

In [ ]:
import datetime
my_date = datetime.date(2016, 7, 10)

print(Employee.is_workday(my_date))

False

inheritence

In [ ]:
class Employee:

  raise_amount = 1.04

  def __init__(self, first, last, pay):
    self.first = first
    self.last = last
    self.pay = pay
    self.email = self.first + '.' + self.last + '@company.com'


  def fullname(self):
    return f"{self.first} {self.last}"

  def apply_raise(self):
    self.pay = int(self.pay * Employee.raise_amount)


class Developer(Employee):
  raise_amount = 1.10

  def __init__(self, first, last, pay, programming_language):
    super().__init__(first, last, pay)   # Employee.__init__(self, first, last, pay) works too
    self.programming_language = programming_language


class Manager(Employee):
  def __init__(self, first, last, pay, employees=None):
    super().__init__(first, last, pay)
    if employees is None:
      self.employees = []
    else:
      self.employees = employees

  def add_employee(self, employee):
    if employee not in self.employees:
      self.employees.append(employee)

  def remove_employee(self, employee):
    if employee in self.employees:
      self.employees.remove(employee)

  def print_employees(self):
    for employee in self.employees:
      print(f"--> {employee.fullname()}")

In [ ]:
dev_1 = Developer('Cory', 'Schafer', '50000', 'Python')
print(dev_1.email)
print(dev_1.programming_language)

Cory.Schafer@company.com
Python

In [ ]:
mngr_1 = Manager('Sue', 'Smith', 90000, [dev_1])
print(mngr_1.email)
mngr_1.print_employees()

Sue.Smith@company.com
--> Cory Schafer

In [72]:
dev_2 = Developer('John', 'Doe', '55000', 'Java')
mngr_1.add_employee(dev_2)
mngr_1.print_employees()

--> Cory Schafer
--> John Doe

In [75]:
print(isinstance(mngr_1, Manager))
print(isinstance(mngr_1, Employee))
print(isinstance(mngr_1, Developer))

True
True
False

In [78]:
print(issubclass(Developer, Employee))
print(issubclass(Manager, Employee))
print(issubclass(Developer, Manager))

True
True
False